# Each item listed in this file will be ignored by git
# and will not be uploaded to github. The blank lines
# and comments are unnecessary, but included for 
# clarification.

# node_modules is a storage folder for Node and
# can get very large.
node_modules

# .env file is for local use only. It contains
# values not to be shared and most of the values
# will be manually created by you or dynamically # created on the hosting server
.env

# .DS_Store is only for Mac users
**/.DS_Store

# readme.md is ignored to prevent conflicts with
# the readme.md that is automatically created on
# github when a new repository is created.
readme.md

# node_modules/ folder can get very large, so we
# ignore it to prevent unnecessary uploads to 
# github.
node_modules/

# .vscode/ folder contains local settings for
# Visual Studio Code and can be ignored.
.vscode/
.github/
