<div id="inv-management">
  <h1>Inventory Management</h1>
  
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
  
  <nav class="management-links">
    <ul>
      <li><a href="/inv/add-classification">Add Classification</a></li>
      <li><a href="/inv/add-inventory">Add Inventory</a></li>
    </ul>
  </nav>
 <h2> Manage Inventory</h2>
 <p>Choose a Classification to view its inventory items:</p>
 <div class="classification-select"><%- classificationList %></div>

 <table id="inventoryDisplay"></table>
 <noscript>JavaScript must be enabled to use this page.</noscript>
 <script src="/js/inventory.js"></script>

</div>
