<div id="inv-management">
  <h1>Inventory Management</h1>
  
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
  
  <nav class="management-links">
    <ul>
      <li><a href="/inv/add-classification">Add Classification</a></li>
      <li><a href="/inv/add-inventory">Add Inventory</a></li>
    </ul>
  </nav>
</div>